@model SportClub.BLL.DTO.UserDTO

@{
    ViewData["Title"] = "ClientProfile";
}

@using Microsoft.AspNetCore.Http
<div class="center pr">
    <form method="post">
        <input type="hidden" asp-for="@Model.Id" />
        @Html.AntiForgeryToken()
        <div class="card c22">
            @Html.ValidationSummary(true, "")
            <div>
                @Html.DisplayNameFor(model => model.Name)
                <div>
                    @Html.EditorFor(model => model.Name)
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
           
            <div>
                @Html.DisplayNameFor(model => model.Login)
                <div>
                    @Html.EditorFor(model => model.Login, new { id = "login" })
                    @*<span id="log" style="color:red; display:none">@Resources.Resource.loginused</span>*@
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
            </div>
            <div>
                @Html.DisplayNameFor(model => model.Email)
                <div>
                    @Html.EditorFor(model => model.Email, new { id = "emailInput" })
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Phone">@Resources.Resource.Phone:</label>
                <input asp-for="Phone" class="form-control" placeholder="(097)-111 11 11" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Resources.Resource.gender:</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Gender" value="Мужской" id="male" />
                    <label class="form-check-label" for="male">@Resources.Resource.man:</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Gender" value="Женский" id="female" />
                    <label class="form-check-label" for="female">@Resources.Resource.female:</label>
                </div>
            </div>
            <div>
                @Html.DisplayNameFor(model => model.DateOfBirth)
                <div>
                    @Html.EditorFor(model => model.DateOfBirth)
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>
            <div>
                <br />
                <div>
                   <input type="submit" class="y" formaction="EditClientProfile" value="Edit Profile" />
                    <input class="y" formaction="ChangeClientPassword"  type="submit" value="Change Password" />
                    <a class="y" formaction="DeleteClientProfile" asp-route-id="@Model.Id" type="submit">Delete Profile</a>
                </div>
            </div>
        </div>
    </form>
</div>
