<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportClub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SportClub.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SportClub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
         @using (Html.BeginForm("ChangeCulture", "Home"))
        {
            <div>
                <select name="lang">
                    <option value="ru">Русский</option>
                    <option value="en">English</option>
                    <option value="uk">Українська</option>
                    <option value="de">Deutsch</option>
                    <option value="fr">Français</option>
                </select><br>
               @* <input type="hidden" value="@(Model.FilterViewModel.SelectedArtist)" name="art">
                <input type="hidden" value="@(Model.FilterViewModel.SelectedStyle)" name="st">
                <input type="hidden" value="@(Model.SortViewModel.Current)" name="sortorder">
                <input type="hidden" value="@(Model.PageViewModel.PageNumber)" name="page">
            <input type="hidden" value="@(Model.find)" name="str">*@
              <input type="submit" name="submit" value="@Resources.Resource.ChooseLang" class="btn btn-default c20 yellow-link p">
            </div>
        }
      
        @using (Html.BeginForm("GetClients", "Users", FormMethod.Get))
        {
            <div>
                <input class="y" type="submit" value="@Resources.Resource.Users" />&nbsp;
            </div>
        }
        @using (Html.BeginForm("Coaches", "Users", FormMethod.Get))
        {
            <div>
                <input class="y" type="submit" value="All Coaches" />&nbsp;
            </div>
        }
        @using Microsoft.AspNetCore.Http
        @if (Context.Session.GetString("client") != null || Context.Session.GetString("admin") != null || Context.Session.GetString("coach") != null)
        {
            @using (Html.BeginForm("Logout", "Login", FormMethod.Get))
            {
                <div class="navbar-collapse collapse d-sm-inline-flex c c1">

                    <span class="c20">
                        @Resources.Resource.Welcome, @Context.Session.GetString("login")&nbsp;&nbsp;
                    </span>
                    <div>
                        <input class="y" type="submit" value="@Resources.Resource.LogOut" />
                    </div>
                </div>
            }
        }
        else
        {
            <ul class="navbar-nav flex-grow-1 c c1">
                <li class="nav-item">
                    <a class="nav-link text-dark card2" asp-area="" asp-controller="Login" asp-action="Login">@Resources.Resource.Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark card2" asp-area="" asp-controller="Login" asp-action="Registration">@Resources.Resource.Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark card2" asp-area="" asp-controller="Login" asp-action="RegistrationAdmin">Зарегестрировать админа</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark card2" asp-area="" asp-controller="Login" asp-action="RegistrationCoach">зарегестрировать тренера</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark card2" asp-area="" asp-controller="Login" asp-action="AddPost">Add Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark card2" asp-area="" asp-controller="Login" asp-action="AddSpeciality">Add Speciality</a>
                </li>
            </ul>
            }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SportClub 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
